{{ define "_pagination" }}
{{ if .pageInfo.PageSlice }}
<nav aria-label="...">
    <ul class="pagination justify-content-center">
        {{ if gt .pageInfo.FirstPage .pageInfo.NavLen }}
        <li class="page-item">
            <a class="page-link" href={{ printf "/index?page=%d" .pageInfo.Previous }}>Previous</a>
        </li>
        {{ else }}
        <li class="page-item disabled">
            <a class="page-link">Previous</a>
        </li>
        {{ end }}

        {{ range $idx, $v := .pageInfo.PageSlice }}
        <li class={{ if $v.IsSelected }}"page-item active"{{ else }}"page-item"{{ end }}><a class="page-link" href={{
                printf "/index?page=%d" $v.PageNum }}>{{ $v.PageNum }}</a></li>
        {{ end }}

        {{ if lt .pageInfo.LastPage .pageInfo.TotalPage }}
        <li class="page-item">
            <a class="page-link" href={{ printf "/index?page=%d" .pageInfo.Next }}>Next</a>
        </li>
        {{ else }}
        <li class="page-item disabled"></a>
            <a class="page-link">Next</a>
        </li>
        {{ end }}
    </ul>
</nav>
{{ end }}
{{ end }}